<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luckylady_body_back_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,103},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>luckylady_body_back_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,130},{34,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,27}}</string>
                <key>sourceSize</key>
                <string>{34,27}</string>
            </dict>
            <key>luckylady_body_back_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>luckylady_body_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,91},{39,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,32}}</string>
                <key>sourceSize</key>
                <string>{39,32}</string>
            </dict>
            <key>luckylady_body_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,96},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>luckylady_body_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>luckylady_ef_ring01.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{25,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,54}}</string>
                <key>sourceSize</key>
                <string>{25,54}</string>
            </dict>
            <key>luckylady_eye_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,85},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>luckylady_eye_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,84},{11,8}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>luckylady_eye_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,72},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>luckylady_eye_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{11,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,6}}</string>
                <key>sourceSize</key>
                <string>{11,6}</string>
            </dict>
            <key>luckylady_eye_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,94},{11,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{11,7}</string>
            </dict>
            <key>luckylady_hair_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,71},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>luckylady_hair_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,47},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>luckylady_hair_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,148},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>luckylady_hair_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,47},{9,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,23}}</string>
                <key>sourceSize</key>
                <string>{9,23}</string>
            </dict>
            <key>luckylady_hand_l_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,98},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>luckylady_hand_l_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,140},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>luckylady_hand_l_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,123},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>luckylady_hand_r_back_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>luckylady_hand_r_back_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>luckylady_hand_r_back_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,141},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>luckylady_hand_r_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,131},{31,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,19}}</string>
                <key>sourceSize</key>
                <string>{31,19}</string>
            </dict>
            <key>luckylady_hand_r_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,125},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>luckylady_hand_r_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,84},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>luckylady_hat_back_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>luckylady_hat_back_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>luckylady_hat_back_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{65,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,43}}</string>
                <key>sourceSize</key>
                <string>{65,43}</string>
            </dict>
            <key>luckylady_hat_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,47},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>luckylady_hat_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>luckylady_hat_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,29},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>luckylady_hat_yumao_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,174},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>luckylady_hat_yumao_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,118},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>luckylady_hat_yumao_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,153},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>luckylady_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,74},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>luckylady_head_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,47},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>luckylady_mouth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,20},{7,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,4}}</string>
                <key>sourceSize</key>
                <string>{7,4}</string>
            </dict>
            <key>luckylady_mouth_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,123},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>luckylady_mouth_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,15},{6,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,3}}</string>
                <key>sourceSize</key>
                <string>{6,3}</string>
            </dict>
            <key>shadow_luckylady.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,175},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
            <key>smoke_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,159},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_luckylady.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0fc4831bc0affa8de969da8cbd30376:c8c623e48b3118617844e0bdc99a71aa:7f0f03ef907162d69fc481839223a452$</string>
            <key>textureFileName</key>
            <string>hero_luckylady.png</string>
        </dict>
    </dict>
</plist>
