<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nunu_body_back_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,157},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>nunu_body_back_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,127},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>nunu_body_back_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>nunu_body_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,202},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>nunu_body_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>nunu_body_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,36}}</string>
                <key>sourceSize</key>
                <string>{43,36}</string>
            </dict>
            <key>nunu_eye_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,230},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>nunu_eye_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,208},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>nunu_eye_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,208},{21,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,14}}</string>
                <key>sourceSize</key>
                <string>{21,14}</string>
            </dict>
            <key>nunu_eye_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,231},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>nunu_hair_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,153},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>nunu_hair_01_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,202},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>nunu_hand_l_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,171},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>nunu_hand_l_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,151},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>nunu_hand_l_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,130},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>nunu_hand_r_back_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,231},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>nunu_hand_r_back_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,231},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>nunu_hand_r_back_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,181},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>nunu_hand_r_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,184},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>nunu_hand_r_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,184},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>nunu_hand_r_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,130},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>nunu_head_back_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,65},{73,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,54}}</string>
                <key>sourceSize</key>
                <string>{73,54}</string>
            </dict>
            <key>nunu_head_back_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{73,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,61}}</string>
                <key>sourceSize</key>
                <string>{73,61}</string>
            </dict>
            <key>nunu_head_back_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,60}}</string>
                <key>sourceSize</key>
                <string>{85,60}</string>
            </dict>
            <key>nunu_head_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,67},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>nunu_head_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{76,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,61}}</string>
                <key>sourceSize</key>
                <string>{76,61}</string>
            </dict>
            <key>nunu_head_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{76,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,63}}</string>
                <key>sourceSize</key>
                <string>{76,63}</string>
            </dict>
            <key>nunu_mouth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{11,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,6}}</string>
                <key>sourceSize</key>
                <string>{11,6}</string>
            </dict>
            <key>nunu_mouth_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,64},{11,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,6}}</string>
                <key>sourceSize</key>
                <string>{11,6}</string>
            </dict>
            <key>nunu_mouth_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,10},{6,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,5}}</string>
                <key>sourceSize</key>
                <string>{6,5}</string>
            </dict>
            <key>shadow_nunu.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,153},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_nunu.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76648fff7fd8a871e4569f82fe3a5f89:ca8ab7a5b7075e9255921adabd909213:e79a34220e2598f7bb201bb07e60a735$</string>
            <key>textureFileName</key>
            <string>hero_nunu.png</string>
        </dict>
    </dict>
</plist>
