<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_buff_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,17},{206,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,235}}</string>
                <key>sourceSize</key>
                <string>{206,235}</string>
            </dict>
            <key>buff_attack/buff_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,761},{94,100}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{94,100}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>buff_attack/buff_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,852},{92,106}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{92,106}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>buff_attack/buff_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,908},{96,100}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{96,100}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>buff_baoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>buff_burning/buff_burning (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{366,748},{60,100}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{60,100}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>buff_burning/buff_burning (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{60,108}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{60,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>buff_burning/buff_burning (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{697,534},{58,92}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{58,92}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>buff_burning/buff_burning (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{428,705},{66,98}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{66,98}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>buff_burning/buff_burning (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{82,960},{60,100}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{60,100}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>buff_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,850},{96,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{96,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>buff_speed/buff_speed (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{378,965},{55,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{55,94}}</string>
                <key>sourceSize</key>
                <string>{55,150}</string>
            </dict>
            <key>buff_speed/buff_speed (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{203,483},{51,88}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{51,88}}</string>
                <key>sourceSize</key>
                <string>{55,150}</string>
            </dict>
            <key>buff_speed/buff_speed (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{426,350},{39,88}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{39,88}}</string>
                <key>sourceSize</key>
                <string>{55,150}</string>
            </dict>
            <key>buff_speed/buff_speed (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{282,965},{55,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{55,94}}</string>
                <key>sourceSize</key>
                <string>{55,150}</string>
            </dict>
            <key>buff_speed/buff_speed (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{415,623},{49,80}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{49,80}}</string>
                <key>sourceSize</key>
                <string>{55,150}</string>
            </dict>
            <key>buff_speed/buff_speed (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{203,536},{49,88}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{49,88}}</string>
                <key>sourceSize</key>
                <string>{55,150}</string>
            </dict>
            <key>buff_stop_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,222},{85,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,48}}</string>
                <key>sourceSize</key>
                <string>{85,48}</string>
            </dict>
            <key>buff_stop_ice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,225},{117,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,145}}</string>
                <key>sourceSize</key>
                <string>{117,145}</string>
            </dict>
            <key>buff_stop_wind/buff_stop_wind (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{116,632},{80,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{80,52}}</string>
                <key>sourceSize</key>
                <string>{84,54}</string>
            </dict>
            <key>buff_stop_wind/buff_stop_wind (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{415,541},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,50}}</string>
                <key>sourceSize</key>
                <string>{84,54}</string>
            </dict>
            <key>buff_stop_wind/buff_stop_wind (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{936,378},{82,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,54}}</string>
                <key>sourceSize</key>
                <string>{84,54}</string>
            </dict>
            <key>buff_stop_wind/buff_stop_wind (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{936,272},{84,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,54}}</string>
                <key>sourceSize</key>
                <string>{84,54}</string>
            </dict>
            <key>buff_stop_wind/buff_stop_wind (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{203,587},{82,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{82,52}}</string>
                <key>sourceSize</key>
                <string>{84,54}</string>
            </dict>
            <key>buff_yun/buff_yun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,863},{100,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,64}</string>
            </dict>
            <key>buff_yun/buff_yun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,112},{108,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,60}}</string>
                <key>sourceSize</key>
                <string>{108,60}</string>
            </dict>
            <key>buff_yun/buff_yun_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,372},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,225},{30,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,123}}</string>
                <key>sourceSize</key>
                <string>{30,123}</string>
            </dict>
            <key>gun_wound/qiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,706},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>gun_wound/qiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,541},{103,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,120}}</string>
                <key>sourceSize</key>
                <string>{103,120}</string>
            </dict>
            <key>gun_wound/qiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,425},{114,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,125}}</string>
                <key>sourceSize</key>
                <string>{114,125}</string>
            </dict>
            <key>gun_wound/qiang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{129,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,142}}</string>
                <key>sourceSize</key>
                <string>{129,142}</string>
            </dict>
            <key>lakes_skill_wound/lakes_skill_wound001.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,372},{68,62}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,49},{68,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>lakes_skill_wound/lakes_skill_wound002.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,436},{106,122}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,12},{106,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>lakes_skill_wound/lakes_skill_wound003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,305},{118,128}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{118,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>lakes_skill_wound/lakes_skill_wound004.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,434},{132,144}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{132,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>line_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{112,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,190}}</string>
                <key>sourceSize</key>
                <string>{112,190}</string>
            </dict>
            <key>line_line01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{721,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,13}}</string>
                <key>sourceSize</key>
                <string>{721,13}</string>
            </dict>
            <key>line_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,420},{112,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,190}}</string>
                <key>sourceSize</key>
                <string>{112,190}</string>
            </dict>
            <key>line_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{28,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,190}}</string>
                <key>sourceSize</key>
                <string>{28,190}</string>
            </dict>
            <key>red_buff_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,17},{206,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,235}}</string>
                <key>sourceSize</key>
                <string>{206,235}</string>
            </dict>
            <key>sale_hero/sale_hero_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,773},{64,60}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,61},{64,60}}</string>
                <key>sourceSize</key>
                <string>{78,124}</string>
            </dict>
            <key>sale_hero/sale_hero_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,863},{72,100}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{72,100}}</string>
                <key>sourceSize</key>
                <string>{78,124}</string>
            </dict>
            <key>sale_hero/sale_hero_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{78,110}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,110}}</string>
                <key>sourceSize</key>
                <string>{78,124}</string>
            </dict>
            <key>sale_hero/sale_hero_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{78,114}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,114}}</string>
                <key>sourceSize</key>
                <string>{78,124}</string>
            </dict>
            <key>sale_hero/sale_hero_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,686},{78,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,116}}</string>
                <key>sourceSize</key>
                <string>{78,124}</string>
            </dict>
            <key>ta_wound/ta_wound001.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,646},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>ta_wound/ta_wound002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,804},{102,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,92}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>ta_wound/ta_wound003.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,225},{143,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,144}}</string>
                <key>sourceSize</key>
                <string>{143,144}</string>
            </dict>
            <key>timo_boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,210},{224,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,208}}</string>
                <key>sourceSize</key>
                <string>{224,208}</string>
            </dict>
            <key>timo_skill_zhimang/timo_skill_zhimang_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,371},{110,90}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{110,90}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>timo_skill_zhimang/timo_skill_zhimang_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,641},{118,92}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{118,92}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>timo_skill_zhimang/timo_skill_zhimang_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,544},{120,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>timo_skill_zhimang/timo_skill_zhimang_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,436},{120,104}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,104}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>timo_skill_zhimang/timo_skill_zhimang_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,646},{116,100}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{116,100}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>timo_wound/timo_wound001.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,534},{74,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{74,66}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>timo_wound/timo_wound002.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,950},{70,72}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{70,72}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>timo_wound/timo_wound003.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,558},{74,64}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{74,64}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>timo_yinni.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,17},{202,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,232}}</string>
                <key>sourceSize</key>
                <string>{202,232}</string>
            </dict>
            <key>timo_zhimang.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,221},{213,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,219}}</string>
                <key>sourceSize</key>
                <string>{213,219}</string>
            </dict>
            <key>timo_zhongdu.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{206,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,235}}</string>
                <key>sourceSize</key>
                <string>{206,235}</string>
            </dict>
            <key>timo_zhongdu_buff/timo_skill_du_buff_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,916},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>timo_zhongdu_buff/timo_skill_du_buff_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,846},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>timo_zhongdu_buff/timo_skill_du_buff_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,776},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>timo_zhongdu_buff/timo_skill_du_buff_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,706},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>timo_zhongdu_buff/timo_skill_du_buff_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,624},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>timo_zhongdu_buff/timo_skill_du_buff_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,594},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>timo_zhongdu_buff/timo_skill_du_buff_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,566},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>timo_zhongdu_buff/timo_skill_du_buff_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,500},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>timo_zhongdu_buff/timo_skill_du_buff_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,434},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_star_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,225},{139,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,78}}</string>
                <key>sourceSize</key>
                <string>{139,78}</string>
            </dict>
            <key>ui_star_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,328},{84,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,48}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_002.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21bce074e1523bf4dec8b8d3736a24a3:178721b22a6a6b1617735f3034d13765:6fa4a68e8f7f8bb9927683152ff03dd5$</string>
            <key>textureFileName</key>
            <string>effect_002.png</string>
        </dict>
    </dict>
</plist>
