<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8M_Button_Startgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,894},{228,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,107}}</string>
                <key>sourceSize</key>
                <string>{228,107}</string>
            </dict>
            <key>8M_Common_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,8},{85,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{85,71}</string>
            </dict>
            <key>8M_Mainpage_Desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{275,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,317}}</string>
                <key>sourceSize</key>
                <string>{275,317}</string>
            </dict>
            <key>8M_Mainpage_Forest.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,636},{290,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,252}}</string>
                <key>sourceSize</key>
                <string>{290,252}</string>
            </dict>
            <key>8M_Mainpage_Snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,8},{286,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,292}}</string>
                <key>sourceSize</key>
                <string>{286,292}</string>
            </dict>
            <key>8M_Stage_Completed.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,766},{100,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,87}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
            <key>8M_Stage_Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,634},{109,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,88}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>8M_Stage_Star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,8},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>8M_Stage_Star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,8},{83,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,43}}</string>
                <key>sourceSize</key>
                <string>{83,43}</string>
            </dict>
            <key>8M_Stage_Star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,227},{102,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,63}}</string>
                <key>sourceSize</key>
                <string>{102,63}</string>
            </dict>
            <key>8M_Stage_Tobattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,769},{111,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,90}}</string>
                <key>sourceSize</key>
                <string>{111,90}</string>
            </dict>
            <key>UI_Battle_Clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,227},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>UI_Battle_Gift1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,537},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>UI_Battle_Gift2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,703},{90,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,53}}</string>
                <key>sourceSize</key>
                <string>{90,53}</string>
            </dict>
            <key>UI_Battle_Mushroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,8},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>UI_Battle_Skill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,501},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>UI_Battle_Skill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,580},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>UI_Battle_Skill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,8},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>UI_Battle_Skill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,87},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>UI_Battle_Skill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,166},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>UI_Battle_Skillnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,501},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>UI_Button_Buy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,8},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>UI_Button_Close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,85},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>UI_Button_Exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,769},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>UI_Button_Home1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,937},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>UI_Button_Next1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,762},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>UI_Button_Replay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,846},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>UI_Button_Shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,875},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>UI_Buyheroinfo_Text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,501},{124,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,28}}</string>
                <key>sourceSize</key>
                <string>{124,28}</string>
            </dict>
            <key>UI_Buyheroinfo_Text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,501},{124,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,28}}</string>
                <key>sourceSize</key>
                <string>{124,28}</string>
            </dict>
            <key>UI_Buyheroinfo_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,960},{203,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,56}}</string>
                <key>sourceSize</key>
                <string>{203,56}</string>
            </dict>
            <key>UI_Common_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,326},{211,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,205}}</string>
                <key>sourceSize</key>
                <string>{211,205}</string>
            </dict>
            <key>UI_Common_Board2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,888},{90,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>UI_Common_Mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,63},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>UI_Crew_Aixitext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,265},{104,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,41}}</string>
                <key>sourceSize</key>
                <string>{104,41}</string>
            </dict>
            <key>UI_Crew_Annitext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,182},{104,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,41}}</string>
                <key>sourceSize</key>
                <string>{104,41}</string>
            </dict>
            <key>UI_Crew_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,888},{90,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>UI_Crew_Gailuntext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,479},{104,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,41}}</string>
                <key>sourceSize</key>
                <string>{104,41}</string>
            </dict>
            <key>UI_Crew_Headboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,894},{113,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,118}}</string>
                <key>sourceSize</key>
                <string>{113,118}</string>
            </dict>
            <key>UI_Crew_Jinkesitext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,526},{104,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,41}}</string>
                <key>sourceSize</key>
                <string>{104,41}</string>
            </dict>
            <key>UI_Crew_Lakestext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,312},{104,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,41}}</string>
                <key>sourceSize</key>
                <string>{104,41}</string>
            </dict>
            <key>UI_Crew_Luckytext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,359},{104,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,41}}</string>
                <key>sourceSize</key>
                <string>{104,41}</string>
            </dict>
            <key>UI_Crew_Nunutext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,229},{104,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,41}}</string>
                <key>sourceSize</key>
                <string>{104,41}</string>
            </dict>
            <key>UI_Crew_Suolakatext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,182},{104,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,41}}</string>
                <key>sourceSize</key>
                <string>{104,41}</string>
            </dict>
            <key>UI_Giftbox_Accept.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,537},{552,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,91}}</string>
                <key>sourceSize</key>
                <string>{552,91}</string>
            </dict>
            <key>UI_Giftbox_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,349},{177,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,49}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>UI_Giftbox_Hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,140},{89,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,49}}</string>
                <key>sourceSize</key>
                <string>{89,49}</string>
            </dict>
            <key>UI_Giftbox_Newbee.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,283},{135,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,49}}</string>
                <key>sourceSize</key>
                <string>{135,49}</string>
            </dict>
            <key>UI_Giftbox_Skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,74},{89,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,49}}</string>
                <key>sourceSize</key>
                <string>{89,49}</string>
            </dict>
            <key>UI_Giftbox_Text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,245},{224,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,49}}</string>
                <key>sourceSize</key>
                <string>{224,49}</string>
            </dict>
            <key>UI_Giftbox_Text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,210},{106,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,49}}</string>
                <key>sourceSize</key>
                <string>{106,49}</string>
            </dict>
            <key>UI_Giftbox_Tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,306},{539,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,189}}</string>
                <key>sourceSize</key>
                <string>{539,189}</string>
            </dict>
            <key>UI_Hero_Gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,888},{136,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,127}}</string>
                <key>sourceSize</key>
                <string>{136,127}</string>
            </dict>
            <key>UI_Icon_Invisible.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,8},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>UI_Itemshop_Label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,930},{74,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>UI_Itemshop_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,634},{202,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,129}}</string>
                <key>sourceSize</key>
                <string>{202,129}</string>
            </dict>
            <key>UI_Lose_Text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,415},{310,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,58}}</string>
                <key>sourceSize</key>
                <string>{310,58}</string>
            </dict>
            <key>UI_Pause_Continue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,8},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>UI_Pause_Replay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,151},{183,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,60}}</string>
                <key>sourceSize</key>
                <string>{183,60}</string>
            </dict>
            <key>UI_Pause_Return1.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,78},{183,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,60}}</string>
                <key>sourceSize</key>
                <string>{183,60}</string>
            </dict>
            <key>UI_Stage_Road.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,306},{66,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,14}}</string>
                <key>sourceSize</key>
                <string>{66,14}</string>
            </dict>
            <key>UI_Stagedetail_Battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,865},{189,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,89}}</string>
                <key>sourceSize</key>
                <string>{189,89}</string>
            </dict>
            <key>UI_Win_Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,888},{96,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,105}}</string>
                <key>sourceSize</key>
                <string>{96,105}</string>
            </dict>
            <key>UI_Win_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,636},{403,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,246}}</string>
                <key>sourceSize</key>
                <string>{403,246}</string>
            </dict>
            <key>UI_battle_xiegang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,59},{15,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,44}}</string>
                <key>sourceSize</key>
                <string>{15,44}</string>
            </dict>
            <key>block.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,980},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>digital_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,501},{64,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,24}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,81},{84,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,64}}</string>
                <key>sourceSize</key>
                <string>{84,64}</string>
            </dict>
            <key>mushroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,728},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>price_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,501},{73,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,26}}</string>
                <key>sourceSize</key>
                <string>{73,26}</string>
            </dict>
            <key>teemohp_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,980},{72,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,34}}</string>
                <key>sourceSize</key>
                <string>{72,34}</string>
            </dict>
            <key>ui_battle_X1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,217},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>ui_battle_X2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,283},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>ui_battle_caidan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,217},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>ui_battle_hengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,703},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>ui_battle_jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,144},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>ui_battle_kulou.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,245},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ui_battle_zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,74},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>ui_build_atackrange.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,331},{300,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,299}}</string>
                <key>sourceSize</key>
                <string>{300,299}</string>
            </dict>
            <key>ui_build_head_aixi.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,162},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>ui_build_head_annie.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,162},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>ui_build_head_gailun.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,85},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>ui_build_head_haoyunjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,8},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>ui_build_head_jinkesi.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,158},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>ui_build_head_lakesi.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,81},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>ui_build_head_nunu.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,8},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>ui_build_head_suolaka.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,154},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>ui_build_lvlupbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,531},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_build_lvlupcannot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,617},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_build_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,765},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_build_sellbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,851},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_build_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,8},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_dibiao_mupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,349},{45,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,60}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>ui_hp_teemo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,57},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>ui_pausing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,129},{127,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,47}}</string>
                <key>sourceSize</key>
                <string>{127,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_teemo_8M1-hd.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18584ca46f686378790fd050a139aec5:cebc3bce777222f5874d6b8bb7429104:342134b944e0120262ac4bd9622931c1$</string>
            <key>textureFileName</key>
            <string>UI_teemo_8M1-hd.png</string>
        </dict>
    </dict>
</plist>
