<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinx_attack_wound01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,343},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>jinx_attack_wound02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,445},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>jinx_attack_wound03.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,459},{50,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,11}}</string>
                <key>sourceSize</key>
                <string>{50,11}</string>
            </dict>
            <key>jinx_skill_glow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,292},{114,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,96}}</string>
                <key>sourceSize</key>
                <string>{114,96}</string>
            </dict>
            <key>jinx_skill_nangua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{134,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,104}}</string>
                <key>sourceSize</key>
                <string>{134,104}</string>
            </dict>
            <key>jinx_skill_ray01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,390},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>jinx_skill_ray02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{159,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,108}}</string>
                <key>sourceSize</key>
                <string>{159,108}</string>
            </dict>
            <key>jinx_skill_vein01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{120,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{120,42}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>jinx_skill_vein02.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,402},{100,34}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{100,34}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>jinx_skill_vein03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,126},{118,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{118,26}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>jinx_skill_wound01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,278},{122,102}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{122,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jinx_skill_wound02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,154},{122,102}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{122,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jinx_skill_wound03.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,168},{122,102}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{122,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jinx_skill_wound04.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{122,102}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{122,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>suolaka_attack_flash001.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,115},{110,112}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{110,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>suolaka_attack_ray001.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,108},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>suolaka_attack_ray01.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,343},{84,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{84,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>suolaka_attack_xingluo_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,229},{10,22}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{10,22}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>suolaka_attack_xingluo_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,490},{20,34}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{20,34}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>suolaka_attack_xingluo_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,438},{38,50}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{38,50}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>suolaka_attack_xingluo_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,429},{38,74}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,74}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>suolaka_attack_xingluo_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,224},{36,82}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{36,82}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>suolaka_attack_xingluo_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,438},{36,72}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{36,72}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>suolaka_attack_xingluo_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,192},{30,58}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,42},{30,58}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>suolaka_attack_xingluo_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,429},{28,52}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,48},{28,52}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>suolaka_attack_xingluo_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,308},{22,38}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,57},{22,38}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>suolaka_attack_xingluo_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,154},{12,26}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,69},{12,26}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>suolaka_ef_glow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,164}}</string>
                <key>sourceSize</key>
                <string>{154,164}</string>
            </dict>
            <key>suolaka_ef_glow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>suolaka_ef_ray01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{121,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,122}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>suolaka_glow003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,445},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>suolaka_pt01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,229},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zhandan_boom_line01.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,106},{7,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,106}}</string>
                <key>sourceSize</key>
                <string>{7,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_004.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:684a1b929b6bdf13308d723b0920454f:0f1adea4d7a45a2cdfbcdc0757bd290b:d75051d1880ee57546fd9252374d3825$</string>
            <key>textureFileName</key>
            <string>effect_004.png</string>
        </dict>
    </dict>
</plist>
