<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_aixi_arm_l_back_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,125},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>hero_aixi_arm_l_back_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,413},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>hero_aixi_arm_l_back_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,480},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>hero_aixi_arm_l_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,392},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>hero_aixi_arm_l_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,417},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>hero_aixi_arm_l_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,226},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>hero_aixi_arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,367},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,24}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>hero_aixi_body_back_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,388},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>hero_aixi_body_back_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,422},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>hero_aixi_body_back_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,350},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>hero_aixi_body_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,464},{42,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,25}}</string>
                <key>sourceSize</key>
                <string>{42,25}</string>
            </dict>
            <key>hero_aixi_body_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,464},{42,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,25}}</string>
                <key>sourceSize</key>
                <string>{42,25}</string>
            </dict>
            <key>hero_aixi_body_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{42,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,25}}</string>
                <key>sourceSize</key>
                <string>{42,25}</string>
            </dict>
            <key>hero_aixi_ef_skill_flash (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{40,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{40,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hero_aixi_ef_skill_flash (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{40,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,19},{40,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hero_aixi_ef_skill_flash (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{98,309},{58,56}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{58,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hero_aixi_ef_skill_flash (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{64,298},{50,32}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{50,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hero_aixi_ef_skill_flash (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{184,150},{56,68}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,7},{56,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hero_aixi_ef_skill_flash (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{90,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hero_aixi_ef_skill_flash (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{98,90},{84,82}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{84,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hero_aixi_ef_skill_flash (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{88,86}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hero_aixi_ef_skill_flash (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{58,426},{36,38}}</string>
                <key>offset</key>
                <string>{-26,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{36,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hero_aixi_eye_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,393},{27,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,11}</string>
            </dict>
            <key>hero_aixi_eye_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,211},{28,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,9}}</string>
                <key>sourceSize</key>
                <string>{28,9}</string>
            </dict>
            <key>hero_aixi_eye_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,271},{27,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,15}}</string>
                <key>sourceSize</key>
                <string>{27,15}</string>
            </dict>
            <key>hero_aixi_eye_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,338},{37,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,18}}</string>
                <key>sourceSize</key>
                <string>{37,18}</string>
            </dict>
            <key>hero_aixi_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,338},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>hero_aixi_face_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,167},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>hero_aixi_faku1_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,417},{11,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,37}}</string>
                <key>sourceSize</key>
                <string>{11,37}</string>
            </dict>
            <key>hero_aixi_faku1_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,379},{11,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,37}}</string>
                <key>sourceSize</key>
                <string>{11,37}</string>
            </dict>
            <key>hero_aixi_faku1_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,421},{14,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,38}}</string>
                <key>sourceSize</key>
                <string>{14,38}</string>
            </dict>
            <key>hero_aixi_faku_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>hero_aixi_faku_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,274},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>hero_aixi_faku_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>hero_aixi_foot_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,464},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>hero_aixi_foot_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,464},{41,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,23}}</string>
                <key>sourceSize</key>
                <string>{41,23}</string>
            </dict>
            <key>hero_aixi_foot_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,464},{41,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,23}}</string>
                <key>sourceSize</key>
                <string>{41,23}</string>
            </dict>
            <key>hero_aixi_hair_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,392},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>hero_aixi_hair_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,174},{10,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,35}}</string>
                <key>sourceSize</key>
                <string>{10,35}</string>
            </dict>
            <key>hero_aixi_hair_l2_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,420},{13,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,37}}</string>
                <key>sourceSize</key>
                <string>{15,37}</string>
            </dict>
            <key>hero_aixi_hair_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,456},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>hero_aixi_hair_r1_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,438},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>hero_aixi_hair_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,393},{11,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,25}}</string>
                <key>sourceSize</key>
                <string>{11,25}</string>
            </dict>
            <key>hero_aixi_hand_l_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,300},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>hero_aixi_hand_l_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,249},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>hero_aixi_hand_l_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,145},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>hero_aixi_hand_r_back_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,459},{19,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,47}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>hero_aixi_hand_r_back_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,320},{22,57}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,57}}</string>
                <key>sourceSize</key>
                <string>{28,57}</string>
            </dict>
            <key>hero_aixi_hand_r_back_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,212},{29,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{29,72}}</string>
                <key>sourceSize</key>
                <string>{33,72}</string>
            </dict>
            <key>hero_aixi_hand_r_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,247},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>hero_aixi_hand_r_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{33,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,60}}</string>
                <key>sourceSize</key>
                <string>{33,60}</string>
            </dict>
            <key>hero_aixi_hand_r_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,174},{36,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,72}}</string>
                <key>sourceSize</key>
                <string>{36,72}</string>
            </dict>
            <key>hero_aixi_hat_back_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>hero_aixi_hat_back_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,243},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>hero_aixi_hat_back_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,208},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>hero_aixi_hat_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,76},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>hero_aixi_hat_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>hero_aixi_hat_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>hero_aixi_mouth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,241},{8,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{8,6}</string>
            </dict>
            <key>hero_aixi_mouth_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,208},{4,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,3}}</string>
                <key>sourceSize</key>
                <string>{4,3}</string>
            </dict>
            <key>hero_aixi_mouth_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,438},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>hero_aixi_mouth_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,274},{6,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,8}}</string>
                <key>sourceSize</key>
                <string>{6,8}</string>
            </dict>
            <key>hero_aixi_pifeng_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,200},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>hero_aixi_pifeng_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,393},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>hero_aixi_pifeng_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,393},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>shadow_aixi.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,94},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_aixi.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10388b5bfc6f35a2650c32bab06239b9:5fdf51ae62423405c2b98fce096af85d:dd5fad57dfacaea4205d8b40ba02d68c$</string>
            <key>textureFileName</key>
            <string>hero_aixi.png</string>
        </dict>
    </dict>
</plist>
